doctrine:
    dbal:
        connections:
            default:
                driver: 'pdo_mysql'
                host: '%env(DB_HOST)%'
                port: '%env(DB_PORT)%'
                user: '%env(DB_USER)%'
                password: '%env(DB_PASS)%'
                dbname: '%env(DB_NAME)%'
                server_version: '%env(DB_VERSION)%'
            migration:
                driver: 'pdo_mysql'
                host: '%env(DB_HOST)%'
                port: '%env(DB_PORT)%'
                user: '%env(DB_MIGRATION_USER)%'
                password: '%env(DB_MIGRATION_PASS)%'
                dbname: '%env(DB_NAME)%'
                server_version: '%env(DB_VERSION)%'
    orm:
        validate_xml_mapping: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        auto_mapping: true
        mappings:
            App:
                type: attribute
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'App\Entity'
                alias: App

when@prod:
    doctrine:
        orm:
            query_cache_driver:
                type: pool
                pool: doctrine.system_cache_pool
            result_cache_driver:
                type: pool
                pool: doctrine.result_cache_pool

    framework:
        cache:
            pools:
                doctrine.result_cache_pool:
                    adapter: cache.app
                doctrine.system_cache_pool:
                    adapter: cache.system
